name: CI/CD Backend

on:
  push:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_DB: test_db
          POSTGRES_USER: test
          POSTGRES_PASSWORD: test
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U test -d test_db"
          --health-interval=5s
          --health-timeout=5s
          --health-retries=5
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: cd Backend && npm ci

      - name: Install Postgres client
        run: sudo apt-get update && sudo apt-get install -y postgresql-client

      - name: Wait for Postgres
        run: |
          echo "Waiting for Postgres..."
              for i in {1..30}; do
                if PGPASSWORD=test psql -h postgres -U test -d test_db -c '\q' 2>/dev/null; then
                  echo "Postgres ready!"
                  break
                fi
                echo "Still waiting..."
                sleep 2
              done
      - run: cd Backend && npx prisma migrate deploy --schema=prisma/schema.prisma
        env:
          DOTENV_CONFIG_PATH: ./Backend/.env.test
      - run: cd Backend && npm test
        env:
          DOTENV_CONFIG_PATH: ./Backend/.env.test


  build-and-push:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u USERNAME --password-stdin
      - run: |
          cd Backend
          docker build -t ghcr.io/USERNAME/backend:latest .
          docker push ghcr.io/USERNAME/backend:latest

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd /var/www/backend
            docker compose pull
            docker compose up -d
